body{
    background:url("images/header-background.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.windows{
    background:url("images/plattform-windows-grey.png") no-repeat;
}