/*
To make responsive only adjust body padding for breakpoints
*/
body{
    padding-left: 200px;
    padding-right: 200px;
}


.product-features li{
    display: inline-block;
    width: 30%;
    margin: 1%;
}
