/*
To make responsive only adjust body padding for breakpoints
*/
body{
    padding-left: 200px;
    padding-right: 200px;
}


.product-features li{
    display: inline-block;
    width: 30%;
    margin: 1%;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px) {
    body {
        padding-left: 60px;
        padding-right: 60px;
    }
}