.product-description {
    letter-spacing: 1px;
    color: #ffffff;
}
.product-description *,
.product-testimonial *,
.product-plattforms *{
    text-align:center;
}
.product-features li *,
.product-features li{
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
}
.product-features{
    margin-top: 40vmin;
}
