nav a {
    padding: 10px;
    color: white;
}
.product-description *,
.product-testimonial *,
.product-plattforms *{
    text-align:center;
}
.product-features li *,
.product-features li{
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
}
.product-features{
    margin-top: 40vmin;
}
.product-description {
    letter-spacing: 1px;
    color: #ffffff;
    padding-top: 50px;
}
.product-description a.download{
    position:relative;
    color: white;
    margin-top: 50px;
}
.product-description a.download:hover span{
    box-shadow: 0 0 15px 1px black;
}
.product-description .download-links {
    position: absolute;
    top: 0px;
    left: 39.5%;
    padding-top: 60px;
    opacity: 0;
    color: black;
}
.product-description .download-links:hover {
    opacity: 1;
}
.product-description .download-links .desktop,
.product-description .download-links .mobile {
    float: left;
    height: 100px;
    padding: 15px;
    color: grey;
}
.product-description .download-links .mobile
{
    border-left: 1px lightgrey solid;
}

.product-description .download-links .wrapper {
    border-radius: 10px;
    background: white;
    height: 130px;
}

.product-description .download span {
    background-color: #52BF48;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    border-radius: 8px;
    display: inline-block;
    height: 28px;
    width: 215px;
    padding: 10px;
}